*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #fff;
}

body{
	background-color: #000001;
	font-family: 'Saira', sans-serif;

}